registry=https://registry.npmmirror.com
onlyBuiltDependencies[]=esbuild
onlyBuiltDependencies[]=sharp
onlyBuiltDependencies[]=swup
onlyBuiltDependencies[]=unrs-resolver
onlyBuiltDependencies[]=workerd
onlyBuiltDependencies[]=sass-embedded
